<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.choong.spr.mapper.Ex05Mapper">
  
  <select id="selectCustomerNameById" resultType="String">
   SELECT CustomerName FROM Customers WHERE CustomerID = #{id}
  </select>
    <select id="selectEmployeeFirstNameById" resultType="String">
   SELECT FirstName FROM Employees WHERE EmployeeID = #{id}
  </select>
  
  <select id="selectBoard" resultType="com.choong.spr.domain.BoardDto">
  	SELECT b.id id, 
  		   b.title title,
  		   b.inserted inserted,
  		   COUNT(r.id) numOfReply 
  	FROM Board b LEFT JOIN Reply r ON b.id = r.board_id	
  	GROUP BY b.id 
  	ORDER BY id DESC
  	LIMIT #{from}, #{row}
  </select>
  
  <select id="countBoard" resultType="int">
  	SELECT COUNT(b.id) FROM Board b
  </select>
  
  <select id="getBoard" resultType="com.choong.spr.domain.BoardDto">
  	SELECT b.id, b.title, b.body, b.inserted, COUNT(r.id) numOfReply
  	FROM Board b LEFT JOIN Reply r ON b.id = r.board_id
  	WHERE b.id = #{id}
  </select>
  
  <update id="updateBoard">
  	UPDATE Board
  	SET title = #{title},
  	    body = #{body}
  	WHERE id = #{id}
  </update>
  
  <delete id="deleteBoard">
  	DELETE FROM Board
  	WHERE id = #{id}
  </delete>
  
  <insert id="insertBoard" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
  	INSERT INTO Board (title, body)
  	VALUES (#{title}, #{body})
  </insert>
</mapper>